

.header-container {
    position:relative;
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
    background-position: center;
}
.header-container::after{
    height:720px;
    content:'';
    position: absolute;
    top: 0;
    width: 29%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}